:global{
  .ant-avatar > img {
    width: auto;
    height: auto;
    margin-top: 5px;
  }
} 
 
 
 .treeborder{
    border-radius: 8px;
    box-shadow: 2px 2px 2px #888888;
 }
 .titleborder{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
 }
 .titlebutton{
    padding-left: 55px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
 }
 .pointInfo{
     margin-left:7px;
 }
 .content{
    float: left;
 }
 .content div{
    margin-left:17px;
 }
 .img{
    width: 120px;
    height: 70px;
    float: right;
    margin-top: 10px;
 }
 .clearboth{
   clear: both;
 }
 .echartdiv div{
    top:-55px;
    right:-20px;
 }

 .legend_div ul {
  list-style: none;
  width: 88px;
  padding: 0;
 // height: 105px;
}
 .legend_div ul li {
  cursor: pointer;
  width: 88px;
  height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 5px 0 3px 12px;
}

.z_green {
  background: #61bc00;
}

.z_red {
  background: #e80606;
}

.z_grey {
  background: #b1b1b1;
}

.z_yellow {
  background: #AAC600;
}
 

.tag{ width:200px; height:30px; border:1px solid #ddd;
   position:relative; background-color:#FFF;border-radius:4px;
  padding: 3px 0 0 10px; box-shadow: 10px 10px 5px #888888;
   }
.arrow{ position:absolute; width:40px; height:40px; bottom:-40px; left:100px; }
.arrow *{ display:block; border-width:12px; position:absolute; 
  border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.arrow em{border-color:#ddd transparent transparent;}
.arrow span{border-color:#FFF transparent transparent; top:-7px;}
.arrowspan{
  float: right;
  border-left: 1px solid gray;
  padding:0 7px 0 7px;
}
:global{
  .ant-card-head-wrapper{
    display: -webkit-box;
    padding-left: 30px; 
  }
  .ant-card-extra{
       text-align: left; 
  }
}

.legendtext{
   border: 1px solid #000;
   border-radius: 150px;
}


@-webkit-keyframes  shineRed {  
  from { -webkit-box-shadow: 0 0 5px #bbb; }  
  50% { -webkit-box-shadow: 0 0 50px red; }  
  to { -webkit-box-shadow: 0 0 10px #bbb; }  
  }  
  .shine_red{  
  -webkit-animation-name: shineRed;   
  -webkit-animation-duration: 2s;  
  -webkit-animation-iteration-count: infinite;   
  }  
  .inforWindows
  {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 18px 10px 10px;
    line-height: 1.4;
    overflow: auto;
  }