.demoinfinitecontainer {
    overflow: auto;
  }
  .demoloading {
    position: absolute;
    bottom: -40px;
    left: 50%;
  }

  .listTh{
    height: 30px;
  }

  
/*工艺流程图*/
.GyProcessPic{
  width: 100%;
  overflow-x:hidden;
  overflow-y: scroll; 
}

.imgBg{
  background: url(../../../public/GyProcessPic03.jpg);
  background-repeat: no-repeat;
  width: 1504px;
  height: 1034px;
}

/*工艺流程图*/