.upload :global{
    .ant-upload-list-item-name {
            margin-top: 8px;
            font-size: 14px;
            position: relative;
            height: 22px;
            float: left;
            margin: 2px;
            border: 1px  rgb(175, 175, 175)  dashed;
       
            padding: -2px;
            width: 120px;
          
    }
    .ant-upload-list{

        width:  calc(1000vw  - 100px);
    }
    .ant-upload-list-item {
        margin-top: 8px;
        font-size: 14px;
        position: relative;
        height: 22px;
        float: left;
      }
      .ant-upload-list-item:hover .ant-upload-list-item-info{

        background-color:#FFFFFF;
      }
      .ant-upload-list-item-info .anticon-loading, .ant-upload-list-item-info .anticon-paper-clip
      {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.45);
        position: absolute;
        top: 6px;
        left: 12px;

      }
}  
.matters{
  font-size: 13px;
  color: #4e494991;
  margin-left: 10px;
}
.btnAddContaminant{
  float: right;
  position: relative;
  z-index: 1;
  bottom: 10px;
}