@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";

/*查询样式*/
.antadvancedsearchform {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
  
  .antadvancedsearchform .ant-form-item {
    display: flex;
  }
  
  .antadvancedsearchform .ant-form-item-control-wrapper {
    flex: 1;
  }


