.miancard{
    padding:10px 10px 5px 10px;
    cursor: pointer;
    background:#fff;
    border:1px solid #f0f2f5;
}

.miancard :hover{
    background:#f7f7f7;
}

.card div{
    margin-bottom: 5px;
}
.icon{
    margin-right: 2px;
}
.statusImg{
    padding-left: 30px;
}
.statusImg span{
    margin: 0 20px 0 0;
    position: relative;
    bottom: 2px;
}
.statusImg img{
    margin: 0 3px 0 0;
    position: relative;
    bottom: 2px;
}
// .statusImg span:nth-of-type(n+2){
//     margin: 0 3px 3px 6px;
//     position: relative;
//     bottom: 2px;
// }
.unqualified{
    color: red;
}