.search :global{
    .ant-input{
        border-radius: 0px;
    }
    .ant-input-lg{
        font-size: 12px;
    }
    .ant-btn-lg{
        font-size: 12px;
    }
}

.statuslistContainer{
    width: 400px;
    background: #fff;
    margin-top:5px;
    padding-bottom: 15px;
    padding: 10px 5px 10px 10px;
    & > span {
        width: 25%;
    }
}

.statuslistContainerent{
    width: 400px;
    background: #fff;
    margin-top:5px;
    padding-bottom: 15px;
    padding: 10px 5px 10px 10px;
    & > span {
        width: 15%;
    }
}

.statuslist{
    padding: 10px 10px 0 10px;
    
 }
 .statuslist div{
  //   padding-top: 3px;
 }

 .statuslist img{
  margin: 0 7px 2px 1px;
 }

 .gasStatuslist img{
    margin: 0 3px 5px 0;
   }



.treelist{
    background:#fff;
    //overflow: hidden;
 }

 .treeoverflow{
     overflow: auto;
 }
 .cardDiv{
     cursor: pointer;
     //width: 400px;
  //  border-radius: 5px;
  //  margin-bottom: 6px;
     background:#fff;
     border:1px solid #f0f2f5;
    // box-shadow:rgba(136, 136, 136, 0.41) 4px 3px 9px;
 }

 .cardDivClick{
     cursor: pointer;
    // width: 400px;
  //   border-radius: 5px;
   //  margin-bottom: 6px;
     background: #D8D3D3;
     border:1px solid #D8D3D3;
   // box-shadow:rgba(136, 136, 136, 0.41) 4px 3px 9px;
 }
 .cardDiv:hover{
     cursor: pointer;
    // width: 400px;
  //   border-radius: 5px;
   //  margin-bottom: 6px;
     background:#f7f7f7;
     border:1px solid #f0f2f5;
   // box-shadow:rgba(136, 136, 136, 0.41) 4px 3px 9px;
 }
 // .cardDiv:active{
 //     cursor: pointer;
 //     background: #ff6565
 //         }
 .cardtopspan{
     padding:20px 20px 10px 20px;
 }
 .cardbottomspan{
     padding-left: 49px;
     padding-bottom: 20px;
 }
 .pointName{
     padding-left: 11px;
     font-weight: bold;
     font-size: 15px;
 }
 .pollutantType{
     float: right;
     font-size: 14px;
     font-weight: bold;
     padding-right: 5px;
 }
 .statusimg{
     position: relative;
     top: -3px;
 }
 .tsdiv{
     font-size: 14px;
 }


 .tab :global{
     .ant-tabs-tab {
         padding: 12px 76px;
     }
 }
 //运维中
 .operation{
    padding: 3px 7px 3px 7px;
    background: #ff995b;
    color: #fff;
    float: right;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 12px;
 }

 //停产中
 .stop{
     padding: 3px 7px 3px 7px;
     background: #b5b5b5;
     color: #fff;
     float: right;
     border-radius: 4px;
     margin-right: 10px;
     font-size: 12px;
  }
  //故障中
  .fault{
     padding: 3px 7px 3px 7px;
     background: #119f9d;
     color: #fff;
     float: right;
     border-radius: 4px;
     margin-right: 10px;
     font-size: 12px;
  }
  //预警中
  .warning{
     padding: 3px 7px 3px 7px;
     background: #ff6565;
     color: #fff;
     float: right;
     border-radius: 4px;
     margin-right: 10px;
     font-size: 12px;
  }

  //返回按钮
  .backButton{
    float: right;
    margin-right: 20px;
    background: #5DB4FF;
    color: #fff;
    height: 28px;
    line-height: 27px;
    font-size: 14px;
    border-radius: 28px;
    border-color: #6CB5FF;
    position: relative;
    bottom: 3px;
  }
  
 
  .enttitle{
      margin-left: 15px;
  }
