.treeborder{
  border-radius: 8px;
  box-shadow: 2px 2px 2px #888888;
}
.titleborder{
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.titlebutton{
  padding-left: 35px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
.pointInfo{
   margin-top: 7px;
   margin-left:7px;
}
.content{
  float: left;
}
.content div{
  margin-left:17px;
  margin-bottom: 5px;
}
.img{
  width: 120px;
  height: 70px;
  float: right;
  margin-top: 30px;
}
.clearboth{
 clear: both;
}

.bigDiv{
  background-color:#fff;
}
.navigation{
  height:40px;
  padding:8px 0px 4px 10px;
  font-size:15px;
  font-weight: bold;
  background-color:rgb(244,244,244);
}

/*==============图例开始===========*/
.legend_div {
  width: 232px;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
}

.searchInput{
  width: 100%;
  height:45px;
  padding-left: 5px;
}
.shadow{  
  -webkit-box-shadow: #666 0px 0px 10px;  
  -moz-box-shadow: #666 0px 0px 10px;  
  box-shadow: #666 0px 0px 10px;   
} 
 .treecol span{
   padding: 5px 5px 5px 20px;
   border-left: 1px solid gray;
 }
 .treecol{
   border: 1px solid gray;
   margin-left: 10px;
   margin-right: 10px;
 }
.radiobtnimg{
  padding-right: 2px;
  font-size: 16;
  color: '#08c';
  position: relative;
  right: 2px;
}

.reTable :global{
  .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table
  {
    padding: 0;
    font-size: 12px;
    line-height: 14px;
  }
}
.treeTable :global{

.ant-table-small > .ant-table-content .ant-table-header
{
  background: #fff;
  height: 70px;
  overflow: hidden;
}
.ant-table-body{
  &::-webkit-scrollbar-track-piece{
      -webkit-border-radius:0;
     }
     &::-webkit-scrollbar{
      width:8px;
      height:8px;
     }
     &::-webkit-scrollbar-thumb{
      height:50px;
      background-color:#61A1D5;
      -webkit-border-radius:4px;
      outline-offset:-2px;
      border: 2px solid #61A1D5;
     }
     &::-webkit-scrollbar-thumb:hover{
      height:50px;
      background-color:#61A1D5;
      -webkit-border-radius:4px;
     }
}
.ant-table-thead > tr:first-child > th:first-child {
  border-top-left-radius: 7px;
}
.ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 7px;
}
.ant-table-thead tr th{
  line-height: 35px;
}

.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th
{
  background: #55A0D3 ;
  color: #fff;
}
.ant-table-small > .ant-table-content > .ant-table-body > table
{
  padding: 0
}
.ant-table-row{
  line-height: 35px;
}
}
.treeTable :global
{
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th
{
  background: #55A0D3 ;
  color: #fff;

}
} 

@-webkit-keyframes  shineRed {  
  from { -webkit-box-shadow: 0 0 5px #bbb; }  
  50% { -webkit-box-shadow: 0 0 50px red; }  
  to { -webkit-box-shadow: 0 0 10px #bbb; }  
  }  
  .shine_red{  
  -webkit-animation-name: shineRed;   
  -webkit-animation-duration: 2s;  
  -webkit-animation-iteration-count: infinite;   
  }  
  .imgradius_shinered{
    border-radius: 150px;
    -webkit-animation-name: shineRed;   
    -webkit-animation-duration: 2s;  
    -webkit-animation-iteration-count: infinite;   
  }
  .currentlegendBox {
    border: 0;
    width: 65px;
    margin: 0;
    height: 25px;
    text-align: center;
    color: white;
    padding-top: 3px;
}

.tag{ width:200px; height:64px; border:1px solid #ddd;
  position:relative; background-color:#FFF;border-radius:4px;
 padding: 0 0 0 10px; box-shadow: 10px 10px 5px #888888;
  }
.arrow{ position:absolute; width:40px; height:40px; bottom:-40px; left:100px; }
.arrow *{ display:block; border-width:12px; position:absolute; 
 border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.arrow em{border-color:#ddd transparent transparent;}
.arrow span{border-color:#FFF transparent transparent; top:-7px;}
.enttag{
height: 20px;
line-height: 20px;
width: 28px;
text-align: center;
}


.surface { width: 1026px; height: 1026px; background-size: cover; }
.surfacebg {  width: 1026px; height: 1026px }
.info {
padding-bottom: 5px;
border-bottom: 1px solid gray;
}

.dispatchinput{
 width:200px;
}
.statusborder{
border: 2px solid #EBEBEB;
margin: 5px 0 5px 0;
}

.stationimg{
width: 120px;
height: 70px;
float: right;
margin:30px 0 0 0;
}
.statuslist{
   padding: 15px 0 0 60px
}

.statuslist span{
   margin-right: 15px;
}
.statuslist img{
 margin: 0 7px 5px 0
}
.tablerow{
 height: 300;
}
.backButton{
  float: right;
  margin-right: 20px;
  background: #5DB4FF;
  color: #fff;
  height: 28px;
  line-height: 27px;
  font-size: 14px;
  border-radius: 28px;
  border-color: #6CB5FF;
  position: relative;
  bottom: 3px;
}
.statustoolbar{
  float: right;
  margin-right: 20px;
}

.teimgbg{
 background: url('../../../public/group.png') no-repeat;
 width: 130px;
 height: 65px;
 color: #fff;
 padding: 8px 0 0 15px;
 font-size: 15px;
 float: left;
 margin: 20px 0 0px 7px;
}
.rate{
text-align: center;
font-size: 14px;
}
.operation{
padding: 3px 7px 3px 7px;
background: #FF995B;
color: #fff;
border-radius: 4px;
margin-left: 5px;
font-size: 12px;
position: relative;
bottom: 1px;
}



