.ExceptionDetailDiv{
    padding:20px;
    width: 100%;
    background-color: rgb(238,241,246);
    padding:20px;
    overflow-x:hidden;
    overflow-y: scroll; 
}

.stepDescription {
    font-size: 14px;
    position: relative;
    left: 38px;
    & > div {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }


